body{
    background-color: #eeeeee;
}
.container
{
    text-align: center;
}

.footer{
    text-align: center;
}
.heading{
    margin: 50px;
    font-size: 6rem;
    text-shadow: 5px 0 #a2b29f;
    font-family: 'Lobster', cursive;
}
.drum
{   width: 129px;
    height: 129px;
    margin: 60px 20px 60px 20px ;
    border-color: greenyellow ;
    border-width: 2px;
    
}
.footer{
    margin:100px 20px 100px 20px ;
}
.made{
    margin:20px auto;
}
.w
{ background-image: url("d1.png");

}
.a{background-image: url("d6.jpg");
    
}
.s{background-image: url("d3.png");
    
}
.d{
    background-image: url("d1.png");
}
.j{
    background-image: url("d4.jpg");
}
.k{background-image: url("d3.png");
    
}
.l{
    background-image: url("d6.jpg");
}